// SPDX-License-Identifier: (GPL-2.0 OR MIT)

#include "veronica_basedev.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Veronica Nexys A7";
	compatible = "Veronica, RV32IMAC";
	
  clocks {
		axi_bus_aclk: clock {
      #clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <50000000>;
			clock-output-names = "s_axi_aclk";
		};
	};
	
  aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0";
	};

	memory@80000000 {
    status = "okay";
		device_type = "memory";
		reg = <0x80000000 0x8000000>;
	};
	
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		opensbi: sbi@80000000 {
			reg = <0x80000000 0x00040000>;
		};
	};
};

&cpus {
  clock-frequency = <50000000>;
  timebase-frequency = <50000000>;
};
